
.flex-container {
    display: flex;
  }

@media only screen and (max-width: 600px) {
    body {
    }
  }

#header-img{
  display: none;
}
.btn-primary{
}
.icon-size{
  font-size: 10rem;
}
.space-between{
  margin-top: 5em;
  margin-bottom: 5em;
}
div.masthead {
  position: relative;
  background-color: #343a40;
  background: url("https://images.wallpaperscraft.com/image/single/structure_cubes_blockchain_131238_1920x1080.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.nav-link:hover{
color: #0080ff;
}
.nav-link{
  color:#343a40;
  }

  .showcase .showcase-text {
    padding: 3rem;
  }
  .showcase .showcase-img {
    min-height: 35rem;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }

  .video-size{
    min-height: 30rem;
  }